# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Editor/IDE folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Mac and Linux system files
.DS_Store
*.swp

# Environment files
.env
*.env

# Jupyter Notebooks (if any outputs should be ignored)
.ipynb_checkpoints/

# Packaging
dist/
build/
*.egg-info/
